/*触发弹框图片的样式*/
#myImg {
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition:0.3s;
}

#myImg:hover {opacity: 0.7;} /*透明度*/

/*弹框背景*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /*溢出时滚动*/
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

/*图片*/
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 100%;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 80%;
}

/*添加动画*/
.modal-content,#caption {
	// text-align: center;
	-webkit-animation-name:zoom;
	-webkit-animation-duration:0.6s;
	animation-name:zoom;
	animation-duration:0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-tranform:scale(0)}
	to {-webkit-tranform:scale(1)}
}

@keyframes zoom {
	from {-webkit-tranform:scale(0)}
	to {-webkit-tranform:scale(1)}
}

/*关闭按钮*/
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	-webkit-transition:0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/*小屏幕中图片宽度为100%*/
@media only screen and (max-width:700px) {
	.modal-content {
		width: 100%;
	}
}